<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= post.title %>" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="teaser">Teaser</label>
    <textarea required name="teaser" id="teaser" class="form-control"><%= post.teaser %></textarea>
  </div>
  <div class="form-group">
    <label for="goal">Goal</label>
    <textarea required name="goal" id="goal" class="form-control"><%= post.goal %></textarea>
  </div>
  <div class="form-group">
    <label for="process">Process</label>
    <textarea required name="process" id="process" class="form-control"><%= post.process %></textarea>
  </div>
  <div class="form-group">
    <label for="outcome">Outcome</label>
    <textarea required name="outcome" id="outcome" class="form-control"><%= post.outcome %></textarea>
  </div>
  
  <button type="submit" class="saveBtn"><svg xmlns="http://www.w3.org/2000/svg" fill="rgb(245, 245, 245)" width="24" height="24" viewBox="0 0 24 24"><path d="M15.003 3h2.997v5h-2.997v-5zm8.997 1v20h-24v-24h20l4 4zm-19 5h14v-7h-14v7zm16 4h-18v9h18v-9z"/></svg></button>